body {
    background: #111;
    color: #eee;
    font-family: Arial, sans-serif;
    margin: 0;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 40px;
}

h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

h2 {
    font-weight: 400;
    color: #aaa;
}

p {
    max-width: 650px;
    line-height: 1.6;
}